# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables — KHÔNG upload lên git
.env
.env.local
.env.production

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/

# Misc
.swc/
